* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}

body{
    background-image: url("Gambitor.png");
    background-size: cover;
}

.navbar {
    height: 16%;
    width: 100%;
    padding-top: 3vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.navbar-left{
    margin-left: 6vw;
    width: 300px;
}

.navbar-left-div {
    display: flex;
    align-items: center;
}

.navbar-right{
    display: flex;
    justify-content: space-evenly;
}

.img1{
      width: 50px;
}

.img2 {
     width: 100px;
}