* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}

body{
    background-image: url("Gambitor.png");
    background-size: cover;
}

.navbar {
    text-align: left;
    height: 16%;
    width: 100%;
    padding-top: 3vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}

@media screen and (max-width: 1405px) and (min-width: 1205px) {
    .gambitorh {
        width: 150px;
        margin-left: 82px;
    }
}
