* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box; /* Corrected */
}

body {
  background-image: url("Gambitor.png");
  background-size: cover;
}

.navbar {
  height: 16vh;
  width: 100%;
  padding-top: 3vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.navbar-left {
  margin-left: 6vw;
  width: 300px;
  height: 80%;
  display: flex;
  align-items: center;
}

.img1 {
  margin: 0px 0px 12px;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 80px 16px 0px;
  padding: 0px 0px 0px 32px;
  height: 80px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font: 20px Goldman;
  padding: 7px 13px;
  transition: color 0.5s;
}

.result {
  background-color: #ffb400;
  border-radius: 0.25rem;
  transition: color 0.5s;
}

.result:hover {
  color: black;
}

.navbar-right ul {
  height: 80px;
}

.navbar-right li {
  margin: 0px 10px;
  list-style: none;
}

.tags:hover {
  color: #ffb400;
}

.img1 {
  width: 50px;
}

.img2 {
  width: 100px;
}

.content {
  padding-top: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.register {
  color: #ffb400;
  font: 4vw Goldman;
  width: 30vw;
  height: 15vh;
  margin-top: 10vh;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffb400;
  border-radius: 5px 30px 5px 30px;
}

.form-container {
  position: relative;
  width: 48vw;
}

.background-img {
  width: 100%;
  display: block;
}

.form-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {

  padding-top: 5vw;
  display: block;
}

.title {
  margin: 1vw 0 0 0;
  color: #ffb400;
  text-align: left;
  width: 100%;
  height: 6vh;
  font-family: "Goldman", cursive;
  font-size: 2vw;
  font-weight: 500;
  line-height: 4vw;
  letter-spacing: -0.05em;
  padding: 0;
}

.input {
  width: 28vw;
  height: 3vw;
  color: #ffb400;

  font-size: 1.5vw;
  border: 0.1rem solid #ffb400;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin-top: 3vw;
  background-color: #ffb400;
  width: 15vw;
  height: 3vw;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "Goldman", cursive;
  text-align: center;
}
